#lights {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}